/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        sl_symbols {
            bindings = <&sl 3>;
            key-positions = <28 27>;
        };

        to_navigation {
            bindings = <&mo 4>;
            key-positions = <52 40>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <52 28>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <52 27>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <52 26>;
        };

        r-enter {
            bindings = <&kp ENTER>;
            key-positions = <57 31>;
        };

        r-backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <57 32>;
        };

        r-space {
            bindings = <&kp SPACE>;
            key-positions = <57 33>;
        };
    };

    macros {
        cedilha: cedilha2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp APOSTROPHE &kp C>;
            label = "CEDILHA2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp SINGLE_QUOTE  &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                                     &kp N6  &kp N7     &kp N8     &kp N9    &kp N0    &none
&kp ESC           &kp Q   &kp W     &kp E     &kp R      &kp T                                      &kp Y   &kp U      &kp I      &kp O     &kp P     &kp BSPC
&kp TAB           &kp A   &kp S     &kp D     &kp F      &kp G                                      &kp H   &kp J      &kp K      &kp L     &cedilha  &kp GRAVE
&kp LSHFT         &kp Z   &kp X     &kp C     &kp V      &kp B   &kp C_MUTE    &kp LS(PRINTSCREEN)  &kp N   &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
                          &kp LGUI  &kp LALT  &kp LCTRL  &mo 1   &kp RET       &kp SPACE            &mo 2   &kp RCTRL  &kp RALT   &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            display-name = "lower";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&tog 3  &kp F1     &kp F2     &kp F3    &kp F4                &kp F5                                   &kp F6     &kp F7    &kp F8     &kp F9     &kp F10   &kp F11
&trans  &kp N1     &kp N2     &kp N3    &kp N4                &kp N5                                   &kp N6     &kp N7    &kp N8     &kp N9     &kp N0    &kp F12
&trans  &trans     &trans     &trans    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                    &kp GRAVE  &kp APOS  &kp TILDE  &kp CARET  &trans    &trans
&trans  &kp PIPE2  &kp MINUS  &kp PLUS  &kp LBRC              &kp RBRC               &trans    &trans  &kp LBKT   &kp RBKT  &kp SEMI   &kp COLON  &kp BSLH  &trans
                   &trans     &trans    &trans                &trans                 &trans    &trans  &trans     &trans    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            display-name = "raise";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans        &trans  &trans  &trans        &trans        &trans                          &trans          &trans          &trans        &trans     &trans         &trans
&trans        &trans  &kp N7  &kp NUMBER_8  &kp NUMBER_9  &trans                          &kp PG_UP       &trans          &trans        &trans     &trans         &kp INSERT
&kp CAPSLOCK  &trans  &kp N4  &kp NUMBER_5  &kp N6        &kp NUMBER_0                    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &kp BACKSPACE  &kp DELETE
&trans        &trans  &kp N1  &kp N2        &kp N3        &trans        &trans    &trans  &kp PAGE_DOWN   &trans          &trans        &trans     &trans         &trans
                      &trans  &trans        &trans        &trans        &trans    &trans  &trans          &trans          &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbols {
            bindings = <
&trans      &trans  &trans  &trans         &trans     &kp LESS_THAN                           &kp GREATER_THAN       &trans         &trans  &trans  &trans         &kp EQUAL
&trans      &trans  &trans  &trans         &kp MINUS  &kp LEFT_PARENTHESIS                    &kp RIGHT_PARENTHESIS  &kp PLUS       &trans  &trans  &trans         &kp BACKSPACE
&trans      &trans  &trans  &kp BACKSPACE  &kp SLASH  &kp LBRC                                &kp RBRC               &kp BACKSLASH  &trans  &trans  &trans         &trans
&kp LSHIFT  &trans  &trans  &trans         &trans     &kp LEFT_BRACKET      &trans    &trans  &kp RIGHT_BRACKET      &trans         &trans  &trans  &kp SEMICOLON  &trans
                    &trans  &trans         &trans     &trans                &trans    &trans  &trans                 &trans         &trans  &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans                  &trans                  &trans                &trans                   &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                  &trans                  &trans                &trans                   &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(LA(LEFT_ARROW))  &kp LC(LA(DOWN_ARROW))  &kp LC(LA(UP_ARROW))  &kp LA(LC(RIGHT_ARROW))  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                  &trans                  &trans                &trans                   &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans                  &trans                &trans                   &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
